<div class="container mt-5">
  <div class="text-center">
    <h1>สมาชิกในกลุ่ม</h1>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div>
    <div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div><div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div>
    <div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div><div class="col">
      <img src="assets/images/team/user.png" alt="">
      <h3 class="mt-3">นาย มานะ  วันนี้</h3>
      <h5>เลขที่ 2  ห้อง ปวส.1/3</h5>
    </div>
  </div>
</div>
